* {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

/* temporary borders around elements */

header,
main,
footer,
section {
  border-width: 1px;
  border-color: black;
  border-style: dashed;
  margin: 10px;
  padding: 10px;
}

div {
  border-width: 1px;
  border-color: black;
  border-style: dashed;
}

body {
  display: flex;
  flex-direction: column;

  /* display: grid; */
  /* justify-content: center;
  align-content: center; */
  background-color: lightgreen;

  max-width: 400px;
}
.header {
  flex-direction: column;
}
.main {
  flex-direction: column;
}
.header,
.main,
.footer {
  /* display: grid; */
  padding: 20px;
  margin: 10px;
  height: auto;
  /* max-width: 800px; */
}

.deviceBrowser,
.deviceTablet,
.deviceMobile {
  justify-self: center;
}

.deviceTablet,
.deviceBrowser {
  display: none;
}

/* Header stuff */

.headerPic {
  position: relative;
  /* justify-content: center;
  align-items: center; */
}
.headerTitle {
  position: absolute;
  font-weight: bolder;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: clamp(2rem, 10vw, 6rem);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.aboutMe {
  position: relative;
}

/* Main stuff */

.mainTitle {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
}
.project {
  min-width: 160px;
  max-width: 300px;
  padding: 10px;
}

.projectDescription {
  font-size: smaller;
}

@media (min-width: 500px) {
  body {
    background-color: white;
    max-width: 1000px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .deviceTablet {
    display: block;
  }
  .deviceMobile,
  .deviceBrowser {
    display: none;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: lightskyblue;
    max-width: 2000px;
  }

  .header {
    flex-direction: row;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .deviceBrowser {
    display: block;
  }

  .deviceTablet,
  .deviceMobile {
    display: none;
  }
}

.header {
  background-color: lightpink;
  grid-area: header;
  display: flex;
  /* justify-content: center;
  align-content: center; */
}

.main {
  background-color: lightblue;
  grid-area: main;
  display: flex;

  /* justify-content: center;
  align-content: center; */
}

.footer {
  background-color: lightgoldenrodyellow;
  grid-area: footer;
  display: flex;

  /* justify-content: center;
  align-content: center; */
}
