/* Global settings */

* {
  font-family: Roboto;
}

.svg,
svg {
  height: 32px;
  width: 32px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  color: rgb(69, 67, 67);
}

/* shadows */
.headerPic,
.project,
.footerPic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* titles */
.aboutMeTitle,
.mainTitle,
.contactTitle {
  font-family: Playfair Display;
  display: flex;
  justify-content: center;
  font-weight: 350;
  font-size: clamp(1.5rem, 2rem, 4rem);
  margin: 15px;
}

.headerTitle,
.projectTitle {
  font-family: Playfair Display;
}

/* header - < 500px */
.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  min-width: 170px;
  width: 100vw;
}

.header,
.main {
  padding: 20px 0px;
}

.header {
  background: linear-gradient(155deg, #0891b2 50%, white 50%);
}

.headerPic {
  position: relative;
  display: flex;
  margin: 20px;
}

.headerTitle {
  position: absolute;
  font-weight: 350;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: clamp(3rem, 15vw, 6rem);
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.aboutMeText {
  margin: 0px 40px 20px;
}

.headerLinks {
  text-align: center;
}

/* main  < 500px */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 160px;
  max-width: 330px;
  padding: 0px 0px;
  margin: 10px 0px;
}
.projectTitle {
  padding: 3px;
  font-size: 1.5rem;
  text-align: center;
}

.projectDescription {
  font-size: smaller;
  padding: 20px;
}

/* footer < 500px */

.footer {
  display: flex;
  flex-direction: column;
}

.footerPic {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  object-fit: cover;
}

.contactDetails {
  padding: 40px;
  background-color: #3498db;
  color: white;
}
.contactText {
  padding: 20px;
}
.footerLinks {
  display: flex;
  justify-content: center;
}

/* MEDIA ENQUIRIES */
/* > 500px, < 1000px */
@media (min-width: 500px) and (max-width: 1000px) {
  .heaader,
  .main,
  .footer {
    max-width: auto;
    margin: 0 auto;
  }

  body {
    background-color: white;
    max-width: 100%;
  }

  /* header - > 500px, < 1000px   */
  .header {
    background: linear-gradient(165deg, #0891b2 70%, white 50%);
  }
  .header {
    display: grid;
    grid-template-columns: 6fr;
    max-width: 100%;
    margin: auto;
    position: relative;
  }

  .headerPic {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    width: 300px;
    margin-left: 60px;
    z-index: 1;
  }
  .headerTitle {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/1;
    text-align: left;
    position: absolute;
    top: 0;
    left: -50px;
    font-size: clamp(1.5rem, 8vw, 3rem);
  }

  .aboutMeContainer {
    display: grid;
    grid-column: 2/6;
    grid-row: 2/6;
  }

  .aboutMeContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    margin-right: 40px;
    background-color: white;
    min-width: min-content;
    min-height: min-content;
  }

  .headerLinks {
    display: none;
  }

  .aboutMeTitle {
    padding-top: 20px;
    padding-left: 200px;
  }
  .aboutMeText {
    padding-left: 160px;

    min-width: min-content;
    min-height: min-content;
  }

  /* main - > 500px, < 1000px */
  main {
    display: flex;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .project {
    padding: 0px 0px;
    margin: 20px;
  }

  /* footer - > 500px, < 1000px */

  .footer {
    flex-direction: row;
  }
  .contactDetails {
    flex: 1;
  }
  .footerPicContainer {
    display: flex;
    flex: 1;
    background-color: #3498db;
  }

  .footerPic {
    flex: 1;
    display: flex;
    margin: 50px;
    max-height: 70%;
    max-width: 70%;
    align-self: center;
    justify-self: center;
  }
  .footerLinks {
    display: flex;
    justify-content: left;
    padding-left: 20px;
  }
}

/* MEDIA > 1000px */
@media (min-width: 1000px) {
  body {
    max-width: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(1.5rem, 2rem, 4rem);
  }

  /* titles > 1000px* */
  .aboutMeTitle,
  .mainTitle,
  .contactTitle {
    font-size: clamp(1rem, 4rem, 8rem);
  }

  /* header > 1000px*/

  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(165deg, #0891b2 67%, white 33%);
    padding-bottom: 100px;
  }
  .headerPic {
    flex: 1;
    min-width: 300px;
    max-width: 700px;
    max-height: 100%;
    margin: 90px 0px 50px 150px;
  }

  .headerLinks {
    display: block;
  }

  .aboutMeContainer {
    flex: 1;
    position: relative;
    z-index: 1;
    margin: 0px 150px 0px 0px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .aboutMeTitle {
    justify-content: start;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    font-size: clamp(4rem, 6rem, 8rem);
  }

  .aboutMeText {
    padding-bottom: 60px;
  }

  /* main > 1000px**/

  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .projectTitle {
    font-size: clamp(1.5rem, 2rem, 8rem);
  }
  .project {
    padding: 0px 0px;
    min-width: 300px;
    max-width: 550px;
    min-height: 600px;
    margin: 20px;
  }

  .projectImage {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
  }

  /* footer > 1000px**/
  .footer {
    flex-direction: row;
  }
  .contactDetails {
    flex: 1;
  }
  .footerPicContainer {
    display: flex;
    flex: 1;
    background-color: #3498db;
  }

  .footerPic {
    flex: 1;
    display: flex;
    margin: 50px;
    max-height: 70%;
    max-width: 70%;
    align-self: center;
    justify-self: center;
  }

  .footerLinks {
    display: flex;
    justify-content: left;
    padding-left: 20px;
  }
}
