/* Global settings */

* {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

/* shadows */
.headerPic,
.project,
.footerPic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* titles */
.aboutMeTitle,
.mainTitle,
.contactTitle {
  display: flex;
  justify-content: center;
  font-weight: 550;
  font-size: clamp(1.5rem, 2rem, 4rem);
  margin: 15px;
}

.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: auto;
  min-width: 170px;
  max-width: auto;
}
.header,
.main {
  padding: 20px 0px;
}

/* Default settings for mobile */
.deviceMobile {
  display: none;
}
.deviceTablet,
.deviceBrowser {
  display: none;
}
/* header */
.header {
  background: linear-gradient(135deg, #3498db 50%, white 50%);
}

.headerPic {
  position: relative;
  display: flex;
  margin: 20px;
}
.headerTitle {
  position: absolute;
  font-weight: bolder;
  color: white;

  bottom: 0;
  left: 0;
  right: 0;
  font-size: clamp(3rem, 15vw, 6rem);
  text-align: center;
}

.headerTitle {
  text-shadow: 2px 2px 5px black;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.aboutMeTitle {
}
.aboutMeText {
  margin: 20px;
}

.headerLinks {
  text-align: center;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-width: 160px;
  max-width: 350px;
  padding: 0px 0px;
  margin: 10px 0px;
}
.projectTitle {
  padding: 3px;
  font-size: 1.5rem;
  text-align: center;
}

.projectDescription {
  font-size: smaller;
  padding: 20px;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
}

.footerPic {
  display: flex;
  /* height: 100%; Fill the full height of the parent */
  flex-grow: 1;
  max-width: 100%;
  /* width: auto; Maintain aspect ratio */
  object-fit: cover; /* Prevents distortion and fills the space */
}

.contactDetails {
  padding: 40px;
  background-color: #3498db;
  color: white;
}
.contactText {
  padding: 20px;
}

/* MEDIA ENQUIRIES */

@media (min-width: 500px) and (max-width: 1000px) {
  .heaader,
  .main,
  .footer {
    max-width: auto; /* Match body’s max-width */
    /* width: 100%; */
    margin: 0 auto; /* Centers footer if needed */
  }

  body {
    background-color: white;
    max-width: 1000px;
  }

  .header {
    background: linear-gradient(170deg, #3498db 50%, white 50%);
  }
  .header {
    flex-direction: row;
    position: relative;
    align-self: center;
    max-width: 100%;
    /* justify-items: center; */
  }

  .headerPic {
    flex: 1;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    max-width: 350px;
    max-height: 350px;
    left: 75px;
    top: 0;
    z-index: 1;
    object-fit: cover;
  }
  .headerTitle {
    max-width: 400px;
    position: relative;
    top: 0;
    left: -50px;
    font-size: clamp(2rem, 10vw, 3rem);
  }
  .aboutMeContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    max-height: 500px;
  }

  .headerLinks {
    display: none;
  }
  .aboutMeContainer {
    margin-top: 90px;
    margin-left: 5px;
    /* min-width: max-content; */
    min-height: 200px;
    max-width: 250px;
    max-height: 350px;
    padding: 10px;
  }
  .aboutMeText {
    position: absolute;

    min-width: 100%;
    min-height: 200px;
    max-width: max-content;
    max-height: 350px;
    overflow-wrap: break-word;
  }
  main {
    display: flex;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .project {
    padding: 0px 0px;
    margin: 20px;
  }

  .deviceTablet {
    display: block;
  }
  .deviceMobile,
  .deviceBrowser {
    display: none;
  }

  .footer {
    flex-direction: row;
  }
  .contactDetails {
    flex: 1;
  }
  .footerPicContainer {
    display: flex;
    flex: 1;
    background-color: #3498db;
  }

  .footerPic {
    flex: 1;
    display: flex;
    margin: 50px;
    max-height: 70%;
    max-width: 70%;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 1000px) {
  body {
    max-width: 2000px;
    display: flex;
    align-items: center;
  }

  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .headerPic {
    flex: 1;
    margin: 10px 0px 10px 10px;
  }

  .headerLinks {
    display: none;
  }

  .aboutMeContainer {
    flex: 1;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .deviceBrowser {
    display: block;
  }

  .deviceTablet,
  .deviceMobile {
    display: none;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .project {
    padding: 0px 0px;
    margin: 20px;
  }

  .footer {
    flex-direction: row;
  }
  .contactDetails {
    flex: 1;
  }
  .footerPicContainer {
    display: flex;
    flex: 1;
    background-color: #3498db;
  }

  .footerPic {
    flex: 1;
    display: flex;
    margin: 50px;
    max-height: 70%;
    max-width: 70%;
    align-self: center;
    justify-self: center;
  }
}
